body{
    min-height: 100vh;
    width: 100wh;
    background-color: purple;
}
#startGameBtn{
    border-radius: 10px;
    
}

.btnContainer{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: green;

}